.avatar {
width: 200px;
height: 200px;
border-radius: 20px;
display: inline-block;
object-fit: cover;
margin-top: 0;
margin-bottom: 0;
line-height: 10;
}
.Name {
font-family: Arial;
display: inline-block;
align-items: ce;
justify-content: left;
margin-right: 200px;
margin-left: 19px;
}
.box {
display: flex;
flex-flow: row nowrap;
justify-content: right;
align-content: right;
align-items: center;
}
.AboutMe-button {
background-color: rgb(244,200,189);
border-style: none;
cursor: pointer;
margin-left: 820px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;

}
.AboutMe-button:hover {
text-decoration: underline;   
font-weight: bold; 
}
.Work-button {
background-color: rgb(244,200,189);
border-style: none; 
cursor: pointer;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
}
.Work-button:hover {
text-decoration: underline;
font-weight: bold;
}
.Contact-button {
background-color: rgb(244,200,189);
border-style: none;
cursor: pointer;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
margin-right: 19px;
}
.Contact-button:hover {
text-decoration: underline;
font-weight: bold;
}
.pattern {
width: 1200px;
height: 175px;
display:inline-block;
object-fit: cover;
margin-top: 0;
margin-bottom: 0;
line-height: 10;
text-decoration: underline;

}
.About {
font-family: Lobster;
font-size: 50px;
text-align: center;
background-color: white;
padding-top: 10px;
padding-left: 16px;
padding-right: 16px;
padding-bottom: 10px;
display: block;
}
.AboutMe-Text {
background-color: rgb(244,200,189);
font-size: 18px;
text-align: center;
justify-content: center;
}
.Work {
font-family: Lobster;
font-size: 50px;
text-align: center;
background-color: white;
padding-top: 10px;
padding-left: 16px;
padding-right: 16px;
padding-bottom: 10px;
margin-bottom: 0px;
display: block;    
}
.html-css {
height: 2000px;
width: 2000px;
display: block;
object-fit: cover;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
}
.number {
    background-color: rgb(244,200,189);
    border-style: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 820px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;    
}
.email {
background-color: rgb(244,200,189);
border-style: none;
cursor: pointer;
display: inline-block;
margin-left: 820px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;    
}
.git {
    background-color: rgb(244,200,189);
    border-style: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 820px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;   
}
.twitter {
    background-color: rgb(244,200,189);
    border-style: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 820px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;   
}
.spotify {
    background-color: rgb(244,200,189);
    border-style: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 820px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;   
}